
<link rel="stylesheet" href="../styles/style.css" />

<div id="age">
  <h1>Verificador de Idade</h1>

  <form action="/check" method="POST">
    <input type="number" name="age" placeholder="Digite sua idade" />
    <button type="submit">Enviar</button>
  </form>
</div>
